adaptive==0.11.1
cma==3.0.3
docstr-coverage==1.2.0
gast==0.3.3
hjson==3.0.2
numpy==1.19.5
pre-commit==2.13.0
pytest-cov==2.11.1
pytest-xdist==2.2.1
python-dateutil==2.8.1
qiskit==0.25.0
radon==4.3.2
rich==9.2.0
scipy==1.5.2
six==1.15.0
Sphinx==3.2.1
sphinx-autoapi==1.4.0
tensorflow==2.4.1
tensorflow-estimator==2.4.0
tensorflow-probability==0.12.1
xenon==0.7.1
