name: Code Coverage

on:
  push:
    branches: [ master, dev, 'release/*' ]
  pull_request:
    branches: [ master, dev, 'release/*' ]
  workflow_dispatch:

jobs:
  coverage_check_upload:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.9]
    env:
      OS: 'ubuntu-latest'
      PYTHON: '3.9'
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Test with pytest
      run: |
        pytest -x -v --cov=c3 --cov-report=xml test/
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        file: ./coverage.xml
        env_vars: OS,PYTHON
        name: codecov-c3
        fail_ci_if_error: true
        verbose: true