name: Code Coverage

on:
  push:
    branches: [ master, dev, 'release/*' ]
  pull_request:
    branches: [ master, dev, 'release/*' ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7]
    env:
      OS: 'ubuntu-latest'
      PYTHON: '3.7'
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install packages
      run: |
        sudo apt-get install texlive texlive-latex-extra texlive-fonts-recommended dvipng cm-super gcc g++ python3-dev build-essential libboost-all-dev libopenblas-dev
    - name: Cache pip
      uses: actions/cache@v2
      with:
        # This path is specific to Ubuntu
        path: ~/.cache/pip
        # Look to see if there is a cache hit for the corresponding requirements file
        key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
          ${{ runner.os }}-
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Test with pytest
      run: |
        pytest -v --cov=c3 --cov-report=xml test/
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        file: ./coverage.xml
        env_vars: OS,PYTHON
        name: codecov-c3
        fail_ci_if_error: true
        verbose: true